name: Publish Extension

on:
  push:
    tags:
      - "v*"

jobs:
  publish-vscodemarketplace:
    name: Publish extension to VS Code Marketplace
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install vsce
        run: npm install -g @vscode/vsce
      - name: Publish extension
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        run: vsce publish

  publish-openvsx:
    name: Publish extension to OpenVSX
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install ovsx
        run: npm install -g ovsx
      - name: Publish extension
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
        run: ovsx publish
