name: Test

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  prepublish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Pre-publish
        run: npm run vscode:prepublish
